## Deliverable 2. Create a Customer Travel Destinations Map.

In [1]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps

# Import API key
from config import g_key

# Configure gmaps API key
gmaps.configure(api_key=g_key)

In [2]:
# 1. Import the WeatherPy_database.csv file. 
city_data_df = pd.read_csv("../Weather_Database/WeatherPy_database.csv")
city_data_df.head()

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
0,0,Butaritari,KI,3.0707,172.7902,81.72,70,98,3.49,overcast clouds
1,1,Sydney,AU,-33.8679,151.2073,61.48,57,0,5.01,clear sky
2,2,Tiarei,PF,-17.5333,-149.3333,82.42,73,77,10.02,broken clouds
3,3,Saint-Philippe,RE,-21.3585,55.7679,67.59,85,50,14.20,light rain
4,4,Rikitea,PF,-23.1203,-134.9692,74.62,77,100,15.01,overcast clouds

In [3]:
# 2. Prompt the user to enter minimum and maximum temperature criteria 
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 75
What is the maximum temperature you would like for your trip? 90

In [13]:
# 3. Filter the city_data_df DataFrame using the input statements to create a new DataFrame using the loc method.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & 
                                       (city_data_df["Max Temp"] >= min_temp)]

preferred_cities_df.head(10)

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
0,0,Butaritari,KI,3.0707,172.7902,81.72,70,98,3.49,overcast clouds
2,2,Tiarei,PF,-17.5333,-149.3333,82.42,73,77,10.02,broken clouds
5,5,Faanui,PF,-16.4833,-151.7500,78.03,74,25,7.70,light rain
7,7,Khatanga,RU,71.9667,102.5000,75.61,57,99,15.93,overcast clouds
8,8,Puerto Escondido,MX,15.8500,-97.0667,86.41,68,95,4.97,overcast clouds
18,18,Kieta,PG,-6.2167,155.6333,81.28,78,98,1.97,light rain
19,19,Nantucket,US,41.2835,-70.0995,83.61,63,3,12.91,clear sky
20,20,Georgetown,MY,5.4112,100.3354,82.89,84,20,0.00,few clouds
23,23,Atuona,PF,-9.8000,-139.0333,77.50,71,16,18.43,light rain
24,24,Tamale,GH,9.4008,-0.8393,77.14,73,100,4.61,light rain

In [15]:
# 4a. Determine if there are any empty rows.
preferred_cities_df.count()

City_ID                231
City                   231
Country                231
Lat                    231
Lng                    231
Max Temp               231
Humidity               231
Cloudiness             231
Wind Speed             231
Current Description    231
dtype: int64

In [16]:
# 4b. Drop any empty rows and create a new DataFrame that doesn’t have empty rows.
clean_df = preferred_cities_df.dropna()

clean_df.count()

City_ID                231
City                   231
Country                231
Lat                    231
Lng                    231
Max Temp               231
Humidity               231
Cloudiness             231
Wind Speed             231
Current Description    231
dtype: int64

In [17]:
# 5a. Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = clean_df[["City", "Country", "Max Temp", "Current Description", "Lat", "Lng"]].copy()

# 5b. Create a new column "Hotel Name"
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,Butaritari,KI,81.72,overcast clouds,3.0707,172.7902,
2,Tiarei,PF,82.42,broken clouds,-17.5333,-149.3333,
5,Faanui,PF,78.03,light rain,-16.4833,-151.7500,
7,Khatanga,RU,75.61,overcast clouds,71.9667,102.5000,
8,Puerto Escondido,MX,86.41,overcast clouds,15.8500,-97.0667,
18,Kieta,PG,81.28,light rain,-6.2167,155.6333,
19,Nantucket,US,83.61,clear sky,41.2835,-70.0995,
20,Georgetown,MY,82.89,few clouds,5.4112,100.3354,
23,Atuona,PF,77.50,light rain,-9.8000,-139.0333,
24,Tamale,GH,77.14,light rain,9.4008,-0.8393,

In [18]:
# 6a. Set parameters to search for hotels with 5000 meters.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

# 6b. Iterate through the hotel DataFrame.
for index, row in hotel_df.iterrows():
    
    # 6c. Get latitude and longitude from DataFrame
    lat = row["Lat"]
    lng = row["Lng"]


    
    # 6d. Set up the base URL for the Google Directions API to get JSON data.
    params["location"] = f"{lat},{lng}"
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    

    # 6e. Make request and retrieve the JSON data from the search. 
    hotels = requests.get(base_url, params=params).json()   
    
    # 6f. Get the first hotel from the results and store the name, if a hotel isn't found skip the city.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found...skipping")

Hotel not found...skipping
Hotel not found...skipping
Hotel not found...skipping
Hotel not found...skipping
Hotel not found...skipping
Hotel not found...skipping
Hotel not found...skipping
Hotel not found...skipping
Hotel not found...skipping
Hotel not found...skipping
Hotel not found...skipping
Hotel not found...skipping
Hotel not found...skipping
Hotel not found...skipping
Hotel not found...skipping

In [19]:
# 7. Drop the rows where there is no Hotel Name.
clean_hotel_df = hotel_df.dropna()
clean_hotel_df

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,Butaritari,KI,81.72,overcast clouds,3.0707,172.7902,Isles Sunset Lodge
2,Tiarei,PF,82.42,broken clouds,-17.5333,-149.3333,Le Rocher de Tahiti
5,Faanui,PF,78.03,light rain,-16.4833,-151.7500,Bora-Bora Pearl Beach Resort & Spa
7,Khatanga,RU,75.61,overcast clouds,71.9667,102.5000,"Gostinitsa ""Zapolyar'ye"""
8,Puerto Escondido,MX,86.41,overcast clouds,15.8500,-97.0667,Aldea del Bazar Hotel and Spa
...,...,...,...,...,...,...,...
663,Salinopolis,BR,79.21,few clouds,-0.6136,-47.3561,Salinas Park Resort Maçarico AP101
665,Porto Novo,BJ,76.57,overcast clouds,6.4965,2.6036,Tour Eiffel Hotel Benin
667,Sabha,LY,86.27,clear sky,27.0377,14.4283,Foundation Taaj Asala for Historical Research ...
672,Mangrol,IN,81.64,overcast clouds,21.1167,70.1167,Hotel The Royal Honours
677,Hazorasp,UZ,77.38,clear sky,41.3194,61.0742,Kemping wifi hotel

In [20]:
# 8a. Create the output File (CSV)
output_data_file = "WeatherPy_vacation.csv"

# 8b. Export the City_Data into a csv
clean_hotel_df.to_csv(output_data_file, index_label="City_ID")

In [21]:
# 9. Using the template add city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Current Weather</dt><dd>{Current Description} and {Max Temp} °F</dd>
</dl>
"""

# 10a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in clean_hotel_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = clean_hotel_df[["Lat", "Lng"]]

In [22]:
# 11a. Add a marker layer for each city to the map. 
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(marker_layer)
# 11b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))